# mh_tryCatch - Try Catch for C
#
# Copyright (C) 2025  mhahnFr
#
# This file is part of mh_tryCatch.
#
# mh_tryCatch is marked with CC0 1.0 Universal. To view a copy of this license,
# see the file LICENSE or visit <https://creativecommons.org/publicdomain/zero/1.0/>.

.*
*~

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
